html{
	background : #D0D0D0;
}
header{
	display : flex;
	flex-direction : row;
	justify-content : space-between;
	padding = 10px 20px;
}
body{
	background : white;
	width : 75%;
	margin : 20px auto;
	padding : 10px 20px;
}
h1 {
	text-align : center;
}
footer{
	background : black;
	color : white;
	text-align : center;
	font-weight : 700;
}