<header>
	<div id="logo"><img src="/img/mickey.jpg" alt="Smiley face" height="100" width="100" /></div>
	<div>
    	<h1>Project Manager</h1>
    	<p>Mickey's Project Manager is the best project manager tool on the market. if you dream a little, you can even imagine to be able to import MS Project files.</p>
	</div>
</header>