<menu>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/add/product">PROJECT</a></li>
		<li>Login</li>
		<li><a href="/register">REGISTER</a></li>
	</ul>
</menu>
{# 
	puisque app.flashes / le flash de la session se vide dès qu'on y touche, on en fait une copie dans infoMessages
	Si il n'est pas vide, on va afficher autant de <p> que de message contenu
#}
{% set infoMessages = app.flashes('info') %}
{% if infoMessages is not empty %}
    <div> 
    {% for message in infoMessages %}
    	<p>{{ message }} </p>
    {% endfor %}
    </div>
{% endif %}