<h1>Hi {{ user.getFirstname }} {{ user.getLastname }} !</h1>

<p>Please confirm your registration by clicking on following mail<p>

<a href="{{absolute_url(path('user_activate', {'token' : user.getEmailToken()}))}}">{{absolute_url(path('user_activate', {'token' : user.getEmailToken()}))}}</a>