{%  extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/css/form.css">
{% endblock %}
{% block body %}
	<h1>{{ 'REGISTER.TITLE.REGISTER'|trans|raw}}</h1>
	{{ form(formular) }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script <script src="/js/register.js"></script>></script>
{% endblock %}